@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid #d1d5db; /* Gray-300 */
  border-top: 6px solid #3b82f6; /* Blue-500 */
  animation: spin 1s linear infinite;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
